@import './rc-menu/index.css';

/***********************************************************
* general                                                  *
************************************************************/

body {
    background: linear-gradient(to right, whitesmoke, ghostwhite, whitesmoke, ghostwhite);
    color: #222;
    font-family: system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}

a { text-decoration: none; color: darkblue; }
a:hover { text-decoration: underline; }

h1, h2 { font-size: 1.5em; color: #222; margin-top: 0.75em; }
h1 { margin-bottom: 0.75em; }
h2 { margin-bottom: 0.25em; }
h1.inline { display: inline-block; }

.page { padding: 0.5em 0.5em 2em; }

.title-pane { position: relative; }
.breadcrumb { font-weight: bold; }
.tasks { position: absolute; right: 0; margin-top: 1.5em; }
.tasks:before { content: '[ '; }
.tasks:after { content: ' ]'; }
.tasks .disabled { color: grey; }


/***********************************************************
* error-handling                                           *
************************************************************/

.error-pane { margin: 1em 0; padding: 0.5em; background-color: #ffebeb; color: red; border: 1px solid red; }
.error-pane-dismiss { text-align: right; }

.error { color: red; }

/***********************************************************
* rc-menu                                                  *
************************************************************/

.rc-menu { margin: 0; padding: 0; cursor: default; }


/***********************************************************
* About                                                    *
************************************************************/

.page-about .logo { width: 60px; height: 60px; float: left; }
.page-about .info { margin-left: 70px; }
.page-about ul { list-style: none; margin-left: 0; padding-left: 0; }


/***********************************************************
* data tables                                              *
************************************************************/

.data-table { margin-bottom: 1em; border-spacing: 0; }

.data-table th, .data-table td { padding: 0.25em; border: 1px solid #eee; }
.data-table th { background: cornsilk; }
.data-table th .heading { text-transform: uppercase; font-size: 0.875em; }
.data-table th .filter { font-weight: normal; }

.data-table tr:nth-child(1) td { border-top-color: #444; }

.data-table td { background: white; vertical-align: top; }

.data-table .column-id input { width: 3em; }
.data-table .column-date input { width: 8em; }
.data-table td.column-id, .data-table td.column-date { text-align: right; }
.data-table td.column-raw-link, .data-table td.column-total { white-space: nowrap; }

.pagination input { width: 2em; }


/***********************************************************
* forms                                                    *
************************************************************/

form textarea { width: 20em; height: 5em; }

.horizontal-table-form { border-spacing: 0; margin-bottom: 1em; width: 100%; }
.horizontal-table-form h2 { margin-bottom: 0.25em; }
.horizontal-table-form th { text-align: left; padding: 0 0.5em 0 0; font-weight: normal; }
.horizontal-table-form th label { white-space: nowrap; font-weight: bold; }
.horizontal-table-form td span { padding: 0 0 0 0.5em; }
.horizontal-table-form td { box-sizing: border-box; width: 100%; }

/* various forms */
.horizontal-table-form .row-textarea th { vertical-align: top; padding-top: 5px; }
.horizontal-table-form .row-tax-enable td label { display: block; }


/***********************************************************
* transaction forms                                        *
************************************************************/

.transaction-form { margin-bottom: 1em; }

.transaction-fields .row-actor label { font-weight: bold; padding-right: 0.25em; }
.transaction-fields .row-date td input { width: 8em; }
.transaction-fields .row-description td input { box-sizing: border-box; width: 100%; }

.transaction-elements { width: 100%; border-spacing: 0; }

.transaction-elements th, .transaction-elements td {
    padding: 0.25em; border: 1px solid #eee; box-sizing: border-box;
}

.transaction-elements thead th, .transaction-elements thead td {
    background: cornsilk; text-transform: uppercase; font-size: 0.875em;
}

.transaction-elements td { background: white; }
.transaction-elements .element-0 td { border-top: 1px solid #444; padding-top: 0.5em; }

.transaction-elements input:disabled { border-color: transparent; }

.element-family th { background: cornsilk; text-transform: uppercase; font-size: 0.75em; }
.element-family .child-last td { padding-bottom: 1.25em; }

.transaction-elements .account, .transaction-elements .add-tax { vertical-align: top; }
.transaction-elements .add-tax { white-space: nowrap; }
.transaction-elements .account select { max-width: 12em; }

.transaction-elements .description, .transaction-elements .child-description { width: 75%; }
.transaction-elements .description input, .transaction-elements .child-description input {
    box-sizing: border-box;
    width: 100%;
}

.transaction-elements .currency { text-align: right; }
.transaction-elements .gross-amount input, .transaction-elements .amount input,
.transaction-elements .debit input, .transaction-elements .credit input {
    text-align: right;
    width: 5em;
}

.transaction-elements .header-space-start { width: 100%; }

.transaction-elements .child-tax-rate, .transaction-elements .child-amount {
    white-space: nowrap; text-align: right;
}
.transaction-elements .child label { font-weight: bold; font-size: 0.875em; }
.transaction-elements .child-tax-code label { white-space: nowrap; }
.transaction-elements .child input { width: 5em; text-align: right; }
.transaction-elements .child input, .transaction-elements .child-tax-code select { margin-left: 0.5em; }
.transaction-elements .child-tax-rate input { width: 4em; }

.transaction-form .more { text-align: right; padding-bottom: 1em; }

.transaction-form .errors, .transaction-form .buttons { text-align: right; }


/***********************************************************
* payments table/form                                       *
************************************************************/

.transaction-payments { width: 100%; border-spacing: 0; }

.transaction-payments th, .transaction-payments td {
    padding: 0.25em; border: 1px solid #eee; box-sizing: border-box;
}
.transaction-payments thead th {
    background: cornsilk; text-transform: uppercase; font-size: 0.875em;
}

.transaction-payments td { background: white; }
.transaction-payments .payment-0 td { border-top: 1px solid #444; padding-top: 0.5em; }

.transaction-payments .description { width: 75%; }
.transaction-payments .description input { box-sizing: border-box; width: 100%; }
.transaction-payments .date input { width: 8em; }
.transaction-payments .amount { white-space: nowrap; }
.transaction-payments .amount input { text-align: right; width: 5em; }

/* balances */
.transaction-balances { border-spacing: 0; }
.transaction-balances th, .transaction-balances td {
    padding: 0.25em; border: 1px solid #eee; box-sizing: border-box;
}
.transaction-balances thead th {
    background: cornsilk; text-transform: uppercase; font-size: 0.875em;
}
.transaction-balances td { background: white; }
.transaction-balances .row-0 td { border-top: 1px solid #444; padding-top: 0.5em; }

.transaction-balances .balance { text-align: right; }


/***********************************************************
* PDF Viewer                                               *
************************************************************/

.pdfViewer-toolbar { text-align: right; }
.pdfViewer-toolbar .zoom-percent { display: inline-block; width: 4em; padding-left: 0.5em; }
.pdfViewer-container { background-color: #333; width: 100%; height: 100%; position: relative; }
.pdf-download-link { display: inline-block; margin-right: 0.5em; }

/***********************************************************
* Reports                                                  *
************************************************************/

.date-range { padding-right: 0.5em; }
.date-range input { width: 6em; }

